!!! 5
html(lang="en")
  head
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="jquery.cookie.js")
    script(src="jquery.dateFormat-1.0.js")
    script(src="/socket.io/socket.io.js")
    script(src="room.js")
    link(rel="stylesheet", href="app.css")
  body
    input(type="text", id="input")
    #messages
      | connecting...
